<div class="container">
<button type="button" class="btn btn-warning center" (click)="MoveToAddaNewCourse()"><h4>Dodaj nowy kurs</h4></button><br><br>

<h2>Lista kursów</h2>
 
<div class="row">
    <div class="col-12">
        <div *ngFor="let x of coursesArray"><br>
            <div class="row">
            <div class="card col-12 col-md-6 center" > <!--[ngStyle]="{'color': getRandomColor()}"-->

                <div class="card text-center">
                <div class="card-header"><h4>{{x.nazwaKursu}}</h4></div><br>

            <div class="card-body">
                <h5 class="card-title">Rozwiąż kurs z przedmiotu: {{x.nazwaKursu}}</h5>
                <h6 class="card-subtitle text-muted">Sprawdź czy potrafisz rozwiązać ten kurs!</h6><br>
                <button class="marleft btn btn-warning" *ngIf="usersRole === 'master'" (click)="edit(x.id)">Edit</button>
                <button (click)="solveCourse(x.id)" class="btn btn-primary">Try to solve course</button>

                </div>
            </div>
        </div>


                


    <!-- <div *ngFor="let question of x.pytania">
    {{question.pytanie}}<br>
    {{question.A}}<br>
    {{question.B}}<br>
    {{question.C}}<br>
    {{question.D}}<br>
    -----------------------------------------
</div> -->
            </div><!--/row-->
        </div>
    </div>
</div>

<!-- 
 TO DO:
-stworzyć kategorie kursów z buttonami "Dołącz"/"Rozwiąż"; vvvv
-możliwy tylko jeden zaznaczony button; vvvv
-stworzyć button, podsumowujący odpowiedzi -->
</div>